body{
  background-color: gray;
}

header{
  background: purple;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  margin: none;
  padding: none;
  border: none;
}

.box1{
  background: cyan;
  height: 30px;
  width: 150px;
  margin: 10px;
}

.box2{
  background: cyan;
  height: 30px;
  width: 250px;
  margin: 10px;
}

.box3{
  background: cyan;
  height: 30px;
  width: 150px;
  margin: 10px;
}

.box4{
  background: cyan;
  height: 30px;
  width: 150px;
  margin: 10px;
}

section{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  height: 500px;
  margin: 80px 100px 0px 100px;
  padding: none;
  border: 1px solid black;
}

.green{
  background: lime;
  flex-grow: 1;
}

.yellow{
  background: yellow;
  flex-grow: 4;
}


footer{
  background: lightgrey;
  height: 80px;
  margin: 10px 100px 10px 100px;
}

.fb-post{
  margin-top: 80px;
  
}

#newsletter{
  background-color: darkorange;
  width: 600px;
  border-radius: 10px;
  margin: 0 auto;
  padding-bottom: 15px;
  }

h2{
  padding: 10px 10px 0px 10px;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 1px 0px lightgray;
}

input{
  background-color: rgb(255, 187, 0);
  width: 300px;
  display: flex;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
}

#subscribe{
  width: auto;
  padding: 5px 20px;
  margin-top: 5px;
  font-weight: bold;
  align-content: center;
}