body{
  background-color: rgb(39, 1, 1);
  font-family: 'Sriracha', cursive;
}

header{
  background: linear-gradient(gray, rgb(39, 1, 1));
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  margin: none;
  padding: none;
  border: none;
  font-family: 'Sriracha', cursive;
  z-index: 2;
}

header div{
  border-radius: 30px;
}

a:link {
  text-decoration: none;
}

header div:hover{
  background: white;
  color: rgb(240, 206, 52);
}

.box1{
  background: rgb(240, 206, 52);
  height: 35px;
  width: auto;
  margin: 10px;
}

.box2{
  background: rgb(240, 206, 52);
  height: 35px;
  width: auto;
  margin: 10px;
}

.box3{
  background: rgb(240, 206, 52);
  height: 35px;
  width: auto;
  margin: 10px;
}

.box4{
  background: rgb(240, 206, 52);
  height: 35px;
  width: auto;
  margin: 10px;
}

section{
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  justify-content: center;
  padding: none;
}

.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.midbox{
  background: rgb(240, 206, 52);
  max-width: 500px;
  max-height: 500px;
  border-radius: 30px;
  margin: 20px;
  text-align: center;
}

.right{
  background: rgb(240, 206, 52);
  max-width: 500px;
  max-height: 500px;
  border-radius: 30px;
  margin: 20px;
}

.left{
  background: rgb(240, 206, 52);
  max-width: 500px;
  max-height: 500px;
  border-radius: 30px;
  margin: 20px;
}


.article{
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.article p{
margin: 0px 30px;
}

.article h2{
  margin: 10px 20px;
}

img{
  max-height: 300px;
  max-width: 500px;
  margin: auto;
}

footer{
  background: rgb(240, 206, 52);
  height: auto;
  width: 50%;
  margin: 10px auto;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer p{
  margin: 0px;
  padding: 5px 5px;
  margin-bottom: 0px;
}

.fb-post{
  margin-top: 80px;
  
}

#newsletter{
  background-color: rgb(240, 206, 52);
  width: fit-content;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  padding-bottom: 0px;
  }

h2{
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: center;
  color: black;
  /* text-shadow: 1px 0px lightgray; */
}

h3{
  margin: 0px 10px;
  padding: 0px;
  color: black;
}

input{
  background-color: rgb(240, 206, 52);
  width: 50%;
  display: flex;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
}

#subscribe{
  width: auto;
  padding: 5px 20px;
  margin-top: 5px;
  font-weight: bold;
  align-content: center;
}

.fb-page{
  text-align: center;
  display: block;
  margin: 20px 0px;
}

.fb-like{
  margin-bottom: 10px;
  margin-left: 10px;
}

#FB{
  background-color: rgb(240, 206, 52);
  width: fit-content;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px 20px;
  text-align: center;
  }